<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-md-6 mx-auto mt-3" role="alert">
        <i class="fa-solid fa-circle-check me-2"></i>
        <strong>Success!</strong>
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    </div>
    <% } %>

        <% if(error && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show col-md-6 mx-auto mt-3" role="alert">
                <i class="fa-solid fa-circle-exclamation me-2"></i>
                <strong>Error!</strong>
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
            </div>
            <% } %>