<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fw-semibold" href="/" style="font-family:'Georgia',serif; font-size:1.5rem; letter-spacing:0.01em; color:#3d2b1f;">
            Haven<span style="color:#c9973a;">Stay</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
                <a class="nav-link" href="/listings">All Listings</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (currUser) { %>
                    <a class="btn btn-sm ms-2" href="/logout" style="background:#3d2b1f; color:#fff; border-radius:6px; padding:0.4rem 1.1rem;">Log out</a>
                    <% } else { %>
                        <a class="nav-link" href="/login">Log in</a>
                        <a class="btn btn-sm ms-2" href="/signup" style="background:#3d2b1f; color:#fff; border-radius:6px; padding:0.4rem 1.1rem;">Sign up</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>